{% extends 'admin/dashboard.html' %}
{% load static %}

{% block title %}
<title>Create Notification | Ringtone Shuffle!</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                        <div class="mb-3 mb-sm-0">
                            <h5 class="card-title fw-semibold">Create New Notification</h5>
                        </div>
                    </div>
                    <!-- Error message display -->
                    {% if messages %}
                    <ul class="text-danger">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="notification_title" class="form-label">Notification Title</label>
                            <input type="text" class="form-control" id="notification_title" name="notification_title"
                                placeholder="Enter Notification Title" required>
                        </div>

                        <div class="mb-3">
                            <label for="notification_msg" class="form-label">Notification Message</label>
                            <input type="text" class="form-control" id="notification_msg" name="notification_msg"
                                placeholder="Enter Notification Message" required>
                        </div>

                        <div class="mb-3">
                            <label for="logo" class="form-label">Image</label>
                            <div class="mb-3">
                                <img id="logo-preview" src="#" alt="Image Preview"
                                    style="display:none; max-width: 150px; max-height: 150px; margin-top: 10px;" />
                            </div>
                            <input type="file" class="form-control" id="logo" name="image" onchange="previewImage(event)">
                        </div>

                        <button type="submit" class="btn btn-warning">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
