{% extends 'admin/dashboard.html' %}
{% load static %}

{% block title %}
<title>Ringtone languages | Ringtone Shuffle</title>
{% endblock %}


{% block content %}
<div class="container-fluid">
  <!-- Row 1 -->
  <div class="row">
    <div class="col-lg-12 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-body">
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <div class="mb-3 mb-sm-0">
              <h5 class="card-title fw-semibold">Ringtone languages</h5>
            </div>
            <div class="text-center mx-auto"> <!-- Centering the record count -->
              <h6 class="fw-semibold">Total languages: ({{ total_records }})</h6>
            </div>
            <a href="{% url 'ringtone_lan_create' %}">
              <button type="button" class="btn btn-warning m-1">
                <i class="ti ti-plus text-white"></i> New language
              </button>
            </a>
          </div>
          
          <!-- Dynamic ringtone_lan_list rendering in table format -->
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Image</th>
                  <th class="text-center">Language</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for language in ringtone_languages %}
                <tr>
                  <td class="text-center pt-1 pb-1">{{ language.id }}</td>
                  <td class="text-center pt-1 pb-1">
                    {% if language.image %}
                        <img src="{{ language.image.url }}" alt="Language Image" style="width: 50px; height: 50px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'assets/images/logos/music14white.png' %}" alt="Default Image" style="width: 50px; height: 50px; object-fit: cover;">
                    {% endif %}
                </td>

                  <td class="text-center pt-1 pb-1">{{ language.language_name }}</td>
                  <td class="text-center pt-1 pb-1">
                    <label class="switch">
                      <input type="checkbox" onchange="toggleStatus({{ language.id }})" {% if language.status %} checked {% endif %}>
                      <span class="slider round"></span>
                    </label>
                  </td>
                  <td class="text-center pt-1 pb-1">
                    <!-- Category Actions -->
                    <a href="{% url 'ringtone_lan_edit' language.id %}" class="me-2" title="Edit">
                      <i class="ti ti-edit text-info fs-8"></i>
                    </a>
                    <a href="javascript:void(0);" onclick="confirmDelete({{ language.id }})" title="Delete">
                      <i class="ti ti-trash text-danger fs-8"></i>
                    </a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="4" class="text-center pt-1 pb-1">No languages available.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                {% if ringtone_languages.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ ringtone_languages.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}
        
                {% for i in ringtone_languages.paginator.page_range %}
                    {% if ringtone_languages.number == i %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
        
                {% if ringtone_languages.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ ringtone_languages.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
