<!-- Dashboard card count -->

<div class="col-lg-3 col-md-6">
    <div class="card border-start border-danger">
        <div class="card-body">
            <div class="d-flex  align-items-center">
                <div>
                    <span class="text-danger display-6">
                        <i class="ti ti-users"></i>
                    </span>
                </div>
                <div class="ms-auto">
                    <h4 class="card-title fs-7">290</h4>
                    <p class="card-subtitle text-danger">New Customers</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- badges -->
<span class="mb-1 badge  bg-primary-subtle text-primary">Primary</span>
<span class="mb-1 badge text-bg-primary">Primary</span>
<span class="mb-1 badge rounded-pill text-bg-primary">Primary</span>
<span class="mb-1 badge rounded-pill  bg-primary-subtle text-primary">Primary</span>

<!-- for theme  -->
<li class="nav-item nav-icon-hover-bg rounded-circle">
    <a class="nav-link moon dark-layout" href="javascript:void(0)" style="display: none;">
        <i class="ti ti-moon moon" style="display: none;"></i>
    </a>
    <a class="nav-link sun light-layout" href="javascript:void(0)" style="display: flex;">
        <i class="ti ti-sun sun" style="display: flex;"></i>
    </a>
</li>

<!-- cancel button -->
<button type="button" class="btn bg-danger-subtle text-danger ms-6">Cancel</button>